<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('/assets/banner.jpg');">
  <div class="container">
    <h1>Save your movie lists</h1>
  </div>
</div>
<div class="container">
  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= list.name %> <%= link_to "See the details", list_path(list) %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Add a new list", new_list_path %>
</div>
