<div class="banner">
  <div class="container">
    <h1>Save your movie lists</h1>
  </div>
</div>
<div class="container">
  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= list.name %> <%= link_to "See the details", list_path(list) %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Add a new list", new_list_path %>
</div>
