.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('/assets/banner.jpg');
  height: 500px;
  background-size: cover;
  background-position: center top;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: #B66D0D;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}